@font-face { font-family: body-font; src: url('../fonts/hobbiton.ttf'); }
@font-face { font-family: title-font; src: url('../fonts/ring-bearer.TTF'); }

$title: title-font;
$body: body-font;

$red: #ff3f07;
$black: #000;
$white: #fff;
$transparent-yellow: rgba(144, 130, 5, 0.6);
$red: rgba(200, 0, 5, 0.75);
$transparent-clear: rgba(100, 100, 100, 0.6);
$faded-orange: rgba(162, 92, 17, 0.6);
$color-1: rgb(255, 0, 14);
$color-2: rgb(255, 122, 17);
$color-3: rgb(255, 238, 8);
$color-4: rgb(0, 117, 9);
$color-5: rgb(49, 49, 49);
$color-6: rgb(6, 31, 160);

body {
  display: grid;
  grid-template-columns: 2% 96% 2%;
  grid-template-rows: auto;
  grid-template-areas: "head head head" "aside aside aside" ". main ." "foot foot foot";
  background-image: url("../images/parchment-background.png");
  background-size: cover;
  //max-width: 1250px;
  margin: auto;
  ul {
    list-style: none;
  }
  a {
    color: $white;
    text-decoration: none;
  }
  header{
    text-align: center;
    font-size: 2em;
    background: $transparent-clear;
    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    border-radius: 20px 20px 0 0;
    grid-area: head;
  }
  aside {
    background: $transparent-clear;
    border-radius: 0 0 20px 20px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    grid-area: aside;
    ul {
      font-family: $body;
      font-size: 2em;
      display: flex;
      justify-content: space-around;
      a {
        border-radius: 20px;
        background: $red;
      }
      a:hover {
        border: 5px solid $white;
      }
    }
  }
  main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "info info info info info info"
    "person person person pages pages pages"
    "wires wires wires styles styles styles";
    grid-column-gap: 5%;
    grid-row-gap: 0;
    background-color: $faded-orange;
    .info {
      grid-area: info;
      text-align: center;
      font-size: 2em;
    }
    .persons {
      margin-bottom: 0;
      padding-bottom: 0;
      grid-area: person;
      font-size: 2em;
      .josh-pic {
        border-radius: 15px;
        float: left;
      }
      .korey-pic {
        border-radius: 15px;
        float: left;
        height: 14em;
        width: 13em;
      }
    }
    .pages {
      grid-area: pages;
      font-size: 2em;
    }
    .wires {
      grid-area: wires;
      font-size: 2em;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    .styles {
      grid-area: styles;
      font-size: 2em;
      .colors {
        ul {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-template-rows: auto;
          grid-template-areas: "c1 c2 c3" "c4 c5 c6";
          li {
            height: 75px;
            width: 95%;
          }
          li:nth-of-type(1){
            grid-area: c1;
            background-color: $color-1;
          }
          li:nth-of-type(2) {
            grid-area: c2;
            background-color: $color-2;
          }
          li:nth-of-type(3) {
            grid-area: c3;
            background-color: $color-3;
          }
          li:nth-of-type(4) {
            grid-area: c4;
            background-color: $color-4;
          }
          li:nth-of-type(5) {
            grid-area: c5;
            background-color: $color-5;
          }
          li:nth-of-type(6) {
            grid-area: c6;
            background-color: $color-6;
          }
        }
      }
      .typography {
        .ring, #ring-body {
          font-family: $title;
        }
        .hobbit, #hobbit-body {
          font-family: $body;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
  footer {
    font-size: 2em;
    grid-area: foot;
    padding-left: 10%;
    background-color: $transparent-yellow;
  }
}

